page-post {
    .principal-modal{
        background-color: rgba(0, 0, 0, 0.4);
    }
    .modal{
        position: absolute;
        width: 90%;
        top: 5%;
        left: 5%;
        background: white;
        border-radius: 10px;
        //propriedade anexa uma ou mais sombras a um elemento
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
    }
    .avatar{
        width: 50px;
        border-radius: 100px;
    }
    .modal_de_usuario{
        margin-bottom: 10px !important;
        padding-bottom: 10px;
        background: black;
        bottom: 50px !important;
    }
}
