page-edt-perfil {
    .editar-avatar{
        border-radius: 100%;
        width: 25%;
    }
    .mudar-texto{
        font-size: 13px;
        color: #659CF2;
    }
    .inf-text{
        font-family: Arial, Helvetica, sans-serif;
    }
    .customizar-hr{
        height: 3px;
    }
    .customizar-select{
        margin-left: 15px;
        position: absolute;
    }
}
